* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
  
  ul,
  ol {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    line-height: inherit;
    color: black;
  }
  
  a:visited {
    color: black;
  }
  
  a:focus {
    color: black;
  }
  
  body {
    font: Heebo;
    color: #21243d;
  }
  
  header {
    padding: 27px 60px;
    display: flex;
    justify-content: flex-end;
  }
  
  header nav ul {
    display: flex;
    gap: 33px;
  }
  
  header nav ul li a {
    font-size: 20px;
    font-weight: 500;
    transition: 0.3s;
    display: inline-block;
  }
  
  header nav ul li a:hover {
    color: #00a8cc;
    transform: scale(1.2);
  }
  
  main {
    margin-top: 160px;
  }
  
  @font-face {
    font-family: Heebo;
    src: url("/Heebo-Regular.ttf");
  }
  
  main section.section {
    width: 860px;
    margin: 0 auto;
    margin-top: 15px;
  }
  
  main section.section h1 {
    font-size: 42px;
    line-height: 70px;
    font-weight: 400;
  }
  
  main section.section ul {
    margin-top: 7px;
  }
  
  main section.section ul li {
    display: flex;
    gap: 18px;
    margin-top: 30px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 30px;
  }
  
  main section.section ul li:first-child {
    margin-top: 0px;
  }
  
  main section.section ul li div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  main section.section ul li div h3 {
    font-size: 30px;
    font-weight: 700;
  }
  
  main section.section ul li div .date-info .date {
    border-radius: 13px;
    background-color: #142850;
    font-size: 18px;
    color: #ffffff;
    font-weight: 900;
    padding: 0 10px;
  }
  
  main section.section ul li div .date-info .info {
    margin-left: 26px;
    font-size: 20px;
    color: #8695a4;
    font-weight: 400;
  }
  
  main section.section ul li div .list-item-info {
    font-size: 16px;
    font-weight: 400;
  }
 

   
  footer {
    padding: 51px 0 54px 0;
    margin-top: 83px;
  }
  
  footer ul {
    display: flex;
    gap: 35px;
    align-items: center;
    margin: 0 auto;
    width: fit-content;
  }
  
  footer ul li a svg path {
    transition: 0.3s;
  }
  
  footer ul li a:hover svg path {
    fill: #00a8cc;
  }
  
  footer p {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin-top: 26px;
  }
