body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://cdn.britannica.com/78/43678-050-F4DC8D93/Starry-Night-canvas-Vincent-van-Gogh-New-1889.jpg');
    background-size: cover;
    background-attachment: fixed;
}

header, main, footer {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #191478;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #ebff36;
}

h1{
    color: #ffcc00;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #060bab;
    border: 1px solid #ccc;
    z-index: 1;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li {
    display: block;
    width: 100%;
}

.imgSection{
    display: flex;
    justify-content: center; 
}
.imgSection img{
    margin: 10px;
}

main p{
    color: rgb(246, 254, 136);
    font-weight: bold;
    font-size: 30;
}

main h2{
    color: rgb(231, 247, 16);
    font-weight: bold;   
}

main {
    background-color: rgba(1, 7, 18, 0.7);
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #020f24;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
